*{
  font-size: 16px;
  line-height: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #543;
}
#home{
  background-image: url(../image/big-bg.png);
  min-height: 100vh;
  .for-top{
    display: none;
    position: fixed;
    background: white;
    right: 1rem;
    bottom: 0;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
  }
}
.big-bg{
  background-size: cover;
  background-position: center top;
  // background-repeat: no-repeat;
}
header{
  display: flex;
  background-color: rgba(246, 251, 172, 0.7);
  height: 5rem;
  margin: 0 auto 0;
  padding: 0 4% 0;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid;
  h1{
    >img{
      display: none;
    }
    a{
      text-decoration: none;
      font-size: 2.5rem;
      display: flex;
      align-items: center; 
      img{
        width: 6rem;
      }
    }
  }
  .menu{
    display: flex;
    li{
      list-style: none;
      a{
        font-size: 1.5rem;
        text-decoration: none;
        padding: 0 1rem;
      }
    }
    // li:last-child{
    //   display: none;
    // }
  }
}
.phone-size,
.phone-list{
  display: none;
}
.title{
  font-size: 6rem;
  margin-top: 15rem;
}
.wrapper{
  min-height: 100vh;
  // border: 1px solid;
  .sub-title{
    font-size: 3rem;
    margin-top: 6rem;
    position: relative;
    // border: 1px solid;
    display: inline-block;
  }
  .sub-title:before{
    // content:"";
    // width: 2rem;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: -0.5rem;
    left: -3rem;
    width: 2rem;
    height: 2rem;
    background: rgba(182, 28, 44, .5);
  }
  .sub-title:after{
    position:absolute;
    content:"";
    width: 2rem;
    height: 1px;
    background-color: black;
    top: 0.6rem;
    right: -2rem;
  }
}
.about-page{
  text-align: center;
  background-color:rgba(175, 179, 122, 0.7);
  img{
    width: 10rem;
    border-radius: 50%;
  }
  .contents{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 2rem;
    margin: 3rem auto 0;
    width: 50%;
  }
}
.skill-page{
  background-color:rgba(246, 251, 172, 0.7);
  .skills{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 5rem auto 0;
    .html{
      width: 25%;
      img{
        width: 8rem;
      }
      .contents{
        text-align: justify;
      }
    }
  }
}
.work-page{
  width: 100%;
  background-color:rgba(197, 204, 105, 0.7);
  .portfolio{
    width: 100%;
    .my-work{
      display: flex;
      justify-content: space-between;
      margin: 2rem 2rem 0; 
      img{
        width: 45%;
      }
      p{
        width: 45%;
        text-align: justify;
      }
    }
    .my-work:last-child{
      padding-bottom: 6rem;
    }
  }
}
.contact-page{
  text-align: center;
  background-color:rgba(175, 179, 122, 0.7);
  img{
    width: 10rem;
    border-radius: 50%;
  }
  p{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 2rem;
    margin: 3rem auto 0;
    width: 50%;
  }
  a:hover{
    background-color: skyblue;
  }
}
footer{
  p{
    height: 1.5rem;
    text-align: center;
    align-items: center;
  }
}
